* {
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

html, body {
    height: 100%;
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    padding-left: 30px;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar:hover {
    width: 10%;
}

.sidebar h1 {
    font-family: "Fredoka", sans-serif;
    font-size: 40px;
    margin: 0;
    display: block;
    font-weight: 600;
    position: relative;
    color: transparent;
  }
  
.sidebar h1::before {
    content: "A.";
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 2px;
    display: block;
  }  
  
.sidebar:hover h1::before {
    content: "Auro.";
  }  

.sidebar .Links {
    list-style: none;
    padding-left: 0px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.links li {
    width:100%;
    font-family: "Fredoka", sans-serif;
    font-size: 16px;
    color: black;
    display: flex;
    white-space: nowrap;
    align-items: center;
    padding: 0;
    margin-left: 0; 
    overflow: hidden;
    font-weight: 400;
}

.links li span{
    font-size: 18px;
}

.links li span.fa-solid.fa-fingerprint
{
    font-size: 22px;
}

.links li span.fa-solid.fa-square-envelope {
    font-size: 22px; 
}

.links li span.fa-brands {
    font-size: 22px; 
}

.links li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.links .footer {
    margin-top: auto; 
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px; 
}


.links .footer:hover {        
    background-color: rgba(255, 255, 255, 0);
    font-size: 16px;
}

.links .footer span{
    font-size:20px;
    padding: 5px 0px;
}

.links hr {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    border: none; 
    background-color: black; 
    height: 1.5px; 
    display: block; 
    border-radius: 1000px;
}

.links li span {
    color: black;
    padding: 12px 5px;
    flex-shrink: 0;
}

.links li a {
    color: black;
    text-decoration: none;
    align-items: center;
    padding: 0px 0px 0px 5px;
    display: none;
}

.sidebar:hover .Links li {
    width: 120px;
}

.sidebar:hover .Links li a {
    display: block;
}

.Contents {
    margin-left: 15%; 
    width:85%;
    padding-top: 0.5%;
    padding-bottom:10%;
}

.Contents h1 {
    color:rgb(0, 0, 0);
    font-size: 96px;
    width: 900px;
    margin:auto;
    pointer-events: none;
    font-family: "Fredericka the Great", serif;
    font-style: normal;
    padding-top: 2%;
}

.Contents h2 {
    color:rgb(0, 0, 0);
    font-size: 40px;
    width: 900px;
    margin:auto;
    pointer-events: none;
    font-family: "Kranky", serif;
    font-style: normal;
}

.Contents p{
    width:900px;
    margin:auto;
    text-align: left;
    font-family: "Playpen Sans", serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom:10px;
    font-size: 16px;
}

.Contents p em {
    font-style: italic;
    font-weight:bold;
    color:#8d191c;
  }

.Contents .caption{
    text-align:center;
    margin:auto;
    width:900px;
    font-size: 16px;
    font-family: "Playpen Sans", serif;
    font-weight: 800;
    font-style: normal;
    padding-bottom: 20px;
}

.Contents .caption2{
    text-align:center;
    margin:auto;
    width:450px;
    font-size: 16px;
    font-family: "Playpen Sans", serif;
    font-weight: 800;
    font-style: normal;
    padding-bottom: 10px;
}

.Section {
    margin-bottom: 7.5%;
    display: flex;
    flex-direction: column;
}

/* seperated comics */

.SwearJar{
    margin:auto;
    height:620px;
    width:900px;
    overflow-x:scroll;
    margin-bottom:5px;
    margin-top:30px;
}

.SwearJar img {
    width: 450px;   
    height: 600px;
    transform: scale(1);  
}

.Smoke{
    margin:auto;
    height:600px;
    width:900px;
    display:flex;
    margin-bottom:5px;
    margin-top:30px;
}

.Smoke img{
    width:450px;
    height:600px;
    transform: scale(1);
}

.ADate{
    margin:auto;
    height:600px;
    width:900px;
    display:flex;
    margin-bottom:5px;
    margin-top:30px;
}

.ADate.img{
    width:450px;
    height:600px;
    transform: scale(1);
}

.Shoellace{
    margin:auto;
    height:600px;
    width:450px;
    display:flex;
    margin-bottom:5px;
    margin-top:30px;
}

.Shoellace.img{
    width:450px;
    height:600px;
    transform: scale(1);
}

.Nightmare{
    margin:auto;
    height:450px;
    width:450px;
    display:flex;
    margin-bottom:5px;
    margin-top:30px;
}

.Nightmare img{
    width:450px;
    height:450px;
    transform: scale(1);
}

.Eyedrop{
    margin:auto;
    height:450px;
    width:450px;
    display:flex;
    margin-bottom:5px;
    margin-top:30px;
}

.Eyedrop img{
    width:450px;
    height:450px;
    transform: scale(1);
}

.AGift{
    margin:auto;
    height:450px;
    width:450px;
    display:flex;
    margin-bottom:5px;
    margin-top:30px;
}

.AGift img{
    width:450px;
    height:450px;
    transform: scale(1);
}

footer {
    color: black;
    margin-left:14%;
    background: white;
    text-align: center;
    /* position: fixed;  */
    width: 84.9%; 
    height:8%;
    padding-top: 2%;
    bottom:0;
    font-size:20px;
    font-family: "Playpen Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.Contents div {
    display: flex;
}