.sidebar{
    height:100%;
    width: 15%;
    position:absolute;
    position: fixed;
    background-color: black;
}

.sidebar li {
    display: block;
    font-size: 20px;
    color:white;
    margin-bottom: 8px;
    font-family: "Playpen Sans", serif;
    font-weight: 600;
}

.sidebar li a {
    display: block;
    color:white;
    text-decoration:none;
}

.sidebar ul li{
    display: flex;
    gap: 5px; 
    margin: 10px 0; 
}

.sidebar li i {
    padding-top: 4px;
    font-size: 20px; 
    color:white;
}

.sidebar img{
    width:auto;
    height:200px;
    display: block;  
    margin-left: auto; 
    margin-right: auto;
}

.sidebarfooter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;  
    margin: 10px 0;  
}

.sidebarfooter img{
    width:auto;
    height:150px;
}

.Contents {
    margin-left: 15%; 
    width:85%;
    padding-top: 0.5%;
    padding-bottom:10%;
}

.Contents h1 {
    color:rgb(0, 0, 0);
    font-size: 96px;
    width: 900px;
    margin:auto;
    pointer-events: none;
    font-family: "Fredericka the Great", serif;
    font-style: normal;
    padding-top: 2%;
}

.Contents h2 {
    color:rgb(0, 0, 0);
    font-size: 40px;
    width: 900px;
    margin:auto;
    pointer-events: none;
    font-family: "Kranky", serif;
    font-style: normal;
    padding-top: 2%;
    padding-bottom: 1%;
}

.Contents p{
    width:900px;
    margin:auto;
    text-align: left;
    font-family: "Playpen Sans", serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom:10px;
    font-size: 16px;
}

.Contents p em {
    font-style: italic;
    font-weight:bold;
    color:#8d191c;
  }

.Contents .caption{
    text-align:center;
    margin:auto;
    width:900px;
    font-size: 16px;
    font-family: "Playpen Sans", serif;
    font-weight: 800;
    font-style: normal;
    padding-bottom: 20px;
}

.Contents .caption2{
    text-align:center;
    margin:auto;
    width:450px;
    font-size: 16px;
    font-family: "Playpen Sans", serif;
    font-weight: 800;
    font-style: normal;
    padding-bottom: 10px;
}

.Section {
    margin-bottom: 7.5%;
    display: flex;
    flex-direction: column;
}

/* seperated comics */

.SwearJar{
    margin:auto;
    height:620px;
    width:900px;
    overflow-x:scroll;
    margin-bottom:5px;
    margin-top:30px;
}

.SwearJar img {
    width: 450px;   
    height: 600px;
    transform: scale(1);  
}

.Smoke{
    margin:auto;
    height:600px;
    width:900px;
    display:flex;
    margin-bottom:5px;
    margin-top:30px;
}

.Smoke img{
    width:450px;
    height:600px;
    transform: scale(1);
}

.ADate{
    margin:auto;
    height:600px;
    width:900px;
    display:flex;
    margin-bottom:5px;
    margin-top:30px;
}

.ADate.img{
    width:450px;
    height:600px;
    transform: scale(1);
}

.Shoellace{
    margin:auto;
    height:600px;
    width:450px;
    display:flex;
    margin-bottom:5px;
    margin-top:30px;
}

.Shoellace.img{
    width:450px;
    height:600px;
    transform: scale(1);
}

.Nightmare{
    margin:auto;
    height:450px;
    width:450px;
    display:flex;
    margin-bottom:5px;
    margin-top:30px;
}

.Nightmare img{
    width:450px;
    height:450px;
    transform: scale(1);
}

.Eyedrop{
    margin:auto;
    height:450px;
    width:450px;
    display:flex;
    margin-bottom:5px;
    margin-top:30px;
}

.Eyedrop img{
    width:450px;
    height:450px;
    transform: scale(1);
}

.AGift{
    margin:auto;
    height:450px;
    width:450px;
    display:flex;
    margin-bottom:5px;
    margin-top:30px;
}

.AGift img{
    width:450px;
    height:450px;
    transform: scale(1);
}

footer {
    color: black;
    margin-left:14%;
    background: white;
    text-align: center;
    /* position: fixed;  */
    width: 84.9%; 
    height:8%;
    padding-top: 2%;
    bottom:0;
    font-size:20px;
    font-family: "Playpen Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.Contents div {
    display: flex;
}