* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #ebe2c1;
}

::-webkit-scrollbar,
.fullsample .Characters::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: #dacb98; 
}

::-webkit-scrollbar-track,
.fullsample .Characters::-webkit-scrollbar-track {
    background-color: #dacb98;
    border-radius: 6px;
    box-shadow: inset 0 0 0 3px #dacb98; 
    background-clip: content-box;
}

::-webkit-scrollbar-thumb,
.fullsample .Characters::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.31);
    border-radius: 6px;
    border: 3px solid #dacb98;
}

::-webkit-scrollbar-thumb:hover,
.fullsample .Characters::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.45);
}

html, body {
    height: 100%;
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    padding-left: 30px;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar:hover {
    width: 10%;
}

.sidebar h1 {
    font-family: "Fredoka", sans-serif;
    font-size: 44px;
    margin: 0;
    display: block;
    font-weight: 600;
    position: relative;
    color: transparent;
  }
  
.sidebar h1::before {
    content: "A.";
    color:  #5c370e;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 2px;
    display: block;
  }  
  
.sidebar:hover h1::before {
    content: "Auro.";
  }  

.sidebar .Links {
    list-style: none;
    padding-left: 0px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.links li {
    width:100%;
    font-family: "Fredoka", sans-serif;
    font-size: 16px;
    color:  #5c370e;
    display: flex;
    white-space: nowrap;
    align-items: center;
    padding: 0;
    margin-left: 0; 
    overflow: hidden;
    font-weight: 400;
}

.links li span{
    font-size: 18px;
}

.links li span.fa-solid.fa-fingerprint
{
    font-size: 22px;
}

.links li span.fa-solid.fa-square-envelope {
    font-size: 22px; 
}

.links li span.fa-brands {
    font-size: 22px; 
}

.links li span.fa-solid.fa-circle-play {
    font-size: 20px; 
}

.links li:hover {
    background-color:rgba(92, 56, 14, 0.1);
    border-radius: 8px;
}

.links .Resume {
    margin-top: auto; 
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}

.links .Resume a {   
  width: 90%;         
  text-align: center; 
  color: #4e7c31;
  text-decoration-color:#4e7c31;
  padding-bottom: 2.5px;
}

.links .Resume:hover {        
    background-color: rgba(255, 255, 255, 0);
}

.links .Resume a:hover {        
    font-weight: 800;
    color:#5c370e;
    text-decoration-color:#5c370e;
}

.links .footer {
    margin-top: 0; 
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px; 
}

.links .footer:hover {        
    background-color: rgba(255, 255, 255, 0);
    font-size: 16px;
}

.links .footer span{
    font-size:20px;
    padding: 5px 0px;
}

.links hr {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    border: none; 
    background-color: #5c370e; 
    height: 1.5px; 
    display: block; 
    border-radius: 1000px;
}

.links li span {
    color:  #5c370e;
    padding: 12px 5px;
    flex-shrink: 0;
}

.links li a {
    color:  #5c370e;
    text-decoration: none;
    align-items: center;
    padding: 0px 0px 0px 5px;
    display: none;
}

.sidebar:hover .Links li {
    width: 120px;
}

.sidebar:hover .Links li a {
    display: block;
}

/*DirectContents*/
.Portfolio {
    padding-left: 4%;
    width: 96%;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.Cover {
    width: 100%;
    height: 100vh; 
    margin: 0;
    padding: 0%;
    flex-direction: column;
    display: flex;
}