* {
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

html, body {
    height: 100%;
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    padding-left: 30px;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar:hover {
    width: 10%;
}

.sidebar h1 {
    font-family: "Fredoka", sans-serif;
    font-size: 44px;
    margin: 0;
    display: block;
    font-weight: 600;
    position: relative;
    color: transparent;
  }
  
.sidebar h1::before {
    content: "A.";
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 2px;
    display: block;
  }  
  
.sidebar:hover h1::before {
    content: "Auro.";
  }  

.sidebar .Links {
    list-style: none;
    padding-left: 0px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.links li {
    width:100%;
    font-family: "Fredoka", sans-serif;
    font-size: 16px;
    color: black;
    display: flex;
    white-space: nowrap;
    align-items: center;
    padding: 0;
    margin-left: 0; 
    overflow: hidden;
    font-weight: 400;
}

.links li span{
    font-size: 18px;
}

.links li span.fa-solid.fa-fingerprint
{
    font-size: 22px;
}

.links li span.fa-solid.fa-square-envelope {
    font-size: 22px; 
}

.links li span.fa-brands {
    font-size: 22px; 
}

.links li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.links .Resume {
    margin-top: auto; 
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}

.links .Resume a {   
  width: 90%;         
  text-align: center; 
  color: rgb(150, 150, 150);
  padding-bottom: 2.5px;
}

.links .Resume:hover {        
    background-color: rgba(255, 255, 255, 0);
}

.links .Resume a:hover {        
    font-weight: 800;
    color:black;
}

.links .footer {
    margin-top: 0; 
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px; 
}

.links .footer:hover {        
    background-color: rgba(255, 255, 255, 0);
}

.links .footer span{
    font-size:20px;
    padding: 5px 0px;
}

.links hr {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    border: none; 
    background-color: black; 
    height: 1.5px; 
    display: block; 
    border-radius: 1000px;
}

.links li span {
    color: black;
    padding: 12px 5px;
    flex-shrink: 0;
}

.links li a {
    color: black;
    text-decoration: none;
    align-items: center;
    padding: 0px 0px 0px 5px;
    display: none;
}

.sidebar:hover .Links li {
    width: 120px;
}

.sidebar:hover .Links li a {
    display: block;
}


.sidework {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%; 
    height: 100vh; 
    overflow-y: scroll; 
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    -ms-overflow-style: none; 
    scrollbar-width: none; 

}

.sidework::-webkit-scrollbar {
    display: none; 
}

.project:hover{
    width: 320px;
    height: 180px;
    padding-bottom: 80px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-top: 0px;
}

.project{
    width: 320px;
    height: 180px;
    padding-top: 5px;
    padding-bottom: 27px;
    margin-top: 0px;
    transition:  0.3s ease;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 5px; 
}

.project h3{
    margin-top: 7.5px;
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.project:hover p{
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    display: block;
    font-size: 18px;
}

.project p{
    display: none;
    font-size: 18px;
}

.project p em{
    font-style: normal;
    font-weight: 600;
}

.sidework hr {
    border: none;
    border-top: 1.5px solid #000; 
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 1000px;
    width: 320px; 
}


.contents {
    margin-left: 12.5%; 
    width:57.5%;
    overflow: visible;
    padding-bottom: 20%; 
}

.contents .fullsample img{
    margin-top: 3%;
    width: 100%;
    border-radius: 3px;
    height: auto; 
}

.contents .fullsample p{
    font-size: 16px;
    text-align: left;
    padding-top: 5px;
    margin-bottom: 1%;
    font-weight: 400;
}

.contents .fullsample p a{
    font-weight: 600;
    font-style: italic;
    text-decoration: underline;
    color: black;
}

.contents .fullsample p a:hover{
    color: rgb(150, 150, 150);
}

.contents h1 {
    color:rgb(0, 0, 0);
    font-size: 64px;
    text-align: left;
    font-weight: 600;
    font-family: "Fredoka", sans-serif;
    padding-top: 4%;
    padding-bottom: 2%;
}

.contents p{
    text-align: left;
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 5px;
}

.contents div {
    display: flex;
    flex-direction: column; 
}