* {
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

html, body {
    height: 100%;
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    padding-left: 30px;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar:hover {
    width: 10%;
}

.sidebar h1 {
    font-family: "Fredoka", sans-serif;
    font-size: 40px;
    margin: 0;
    display: block;
    font-weight: 600;
    position: relative;
    color: transparent;
  }
  
  .sidebar h1::before {
    content: "A.";
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 2px;
    display: block;
  }  
  
  .sidebar:hover h1::before {
    content: "Auro.";
  }  

.sidebar .Links {
    list-style: none;
    padding-left: 0px; 
    margin-left: 0;
}

.Links li {
    width:100%;
    font-family: "Fredoka", sans-serif;
    font-size: 16px;
    color: black;
    display: flex;
    white-space: nowrap;
    align-items: center;
    padding: 0;
    margin-left: 0; 
    overflow: hidden;
    font-weight: 400;
}

.Links li span{
    font-size: 18px;
}

.Links li span.fa-solid.fa-fingerprint
{
    font-size: 22px;
}

.Links li span.fa-solid.fa-square-envelope {
    font-size: 22px; 
}

.Links li span.fa-brands {
    font-size: 22px; 
}

.Links li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.Links .footer {         
    padding-top: 240px; 
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.Links .footer:hover {        
    background-color: rgba(255, 255, 255, 0);
    font-size: 16px;
}

.Links .footer span{
    font-size:20px;
    padding: 5px 0px;
}

.Links hr {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    border: none; 
    background-color: black; 
    height: 1.5px; 
    display: block; 
    border-radius: 1000px;
}

.Links li span {
    color: black;
    padding: 12px 5px;
    flex-shrink: 0;
}

.Links li a {
    color: black;
    text-decoration: none;
    align-items: center;
    padding: 0px 0px 0px 5px;
    display: none;
}

.sidebar:hover .Links li {
    width: 120px;
}

.sidebar:hover .Links li a {
    display: block;
}

.Contents {
    margin-left: 15%; 
    width:75%;
}

.Contents h1 {
    color:rgb(0, 0, 0);
    font-size: 64px;
    text-align: left;
    font-weight: 600;
    font-family: "Fredoka", sans-serif;
    padding-top: 4%;
    padding-bottom: 2%;
}

.Contents p{
    margin:auto;
    text-align: left;
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    padding-bottom:10px;
    font-size: 16px;
}



