* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #87bfff, #54a4ff, #6f7fdd);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overscroll-behavior: none;
}

::-webkit-scrollbar,
.fullsample .Characters::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: #87bfff; 
}

::-webkit-scrollbar-track,
.fullsample .Characters::-webkit-scrollbar-track {
    background-color:#6f7fdd;
    box-shadow: inset 0 0 0 3px #6f7fdd; 
    background-clip: content-box;
}

::-webkit-scrollbar-thumb,
.fullsample .Characters::-webkit-scrollbar-thumb {
    background-color: #1e0b6050;
    border-radius: 6px;
    border: 3px solid #6f7fdd;
}

::-webkit-scrollbar-thumb:hover,
.fullsample .Characters::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.45);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding-left: 30px;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar:hover {
    width: 10%;
}

.sidebar h1 {
    font-family: "Fredoka", sans-serif;
    font-size: 44px;
    margin: 0;
    display: block;
    font-weight: 600;
    position: relative;
    color: transparent;
  }
  
.sidebar h1::before {
    content: "A.";
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 2px;
    display: block;
  }  
  
.sidebar:hover h1::before {
    content: "Auro.";
  }  

.sidebar .Links {
    list-style: none;
    padding-left: 0px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.links li {
    width:100%;
    font-family: "Fredoka", sans-serif;
    font-size: 16px;
    color: white;
    display: flex;
    white-space: nowrap;
    align-items: center;
    padding: 0;
    margin-left: 0; 
    overflow: hidden;
    font-weight: 400;
}

.links li span{
    font-size: 18px;
}

.links li span.fa-solid.fa-fingerprint
{
    font-size: 22px;
}

.links li span.fa-solid.fa-square-envelope {
    font-size: 22px; 
}

.links li span.fa-brands {
    font-size: 22px; 
}

.links li span.fa-solid.fa-circle-play {
    font-size: 20px; 
}

.links li:hover {
    background-color: rgba(29, 11, 96, 0.1);
    border-radius: 8px;
}

.links .Resume {
    margin-top: auto; 
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}

.links .Resume a {   
  width: 90%;         
  text-align: center; 
  color: #4d1be1;
  text-decoration-color:#4d1be1;
  padding-bottom: 2.5px;
}

.links .Resume:hover {        
    background-color: rgba(255, 255, 255, 0);
}

.links .Resume a:hover {        
    font-weight: 800;
    color:#30167f;
    text-decoration-color:#30167f;
}

.links .footer {
    margin-top: 0; 
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px; 
}

.links .footer:hover {        
    background-color: rgba(255, 255, 255, 0);
    font-size: 16px;
}

.links .footer span{
    font-size:20px;
    padding: 5px 0px;
}

.links hr {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    border: none; 
    background-color: white; 
    height: 1.5px; 
    display: block; 
    border-radius: 1000px;
}

.links li span {
    color:white;
    padding: 12px 5px;
    flex-shrink: 0;
}

.links li a {
    color: white;
    text-decoration: none;
    align-items: center;
    padding: 0px 0px 0px 5px;
    display: none;
}

.sidebar:hover .Links li {
    width: 120px;
}

.sidebar:hover .Links li a {
    display: block;
}


.sidework {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

.JumpTo {
    width: 320px;
    margin-top: auto; 
    margin-bottom: 25px; 
    text-align: right;
}

.JumpTo h3 {
    font-family: "Digital", serif;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 7.5px;
    color:white;
    text-decoration: underline;
    letter-spacing: 1px;
}

.JumpTo h3 a{
    font-weight: 600;
    color:#ffbf5c;
}

.JumpTo h3 a:hover{
    color:#4d1be1;
}

.JumpTo p{
    padding-bottom: 7.5px;
    font-size: 16px;
    letter-spacing: 1px;
}

.JumpTo p a{
    font-family: "Digital", serif;
    font-weight: 600;
    color:#30167f;
}

.JumpTo p a:hover{
    color:#ff9900;
}

.sidework::-webkit-scrollbar {
    display: none; 
}

.Trailer
{
    width: 320px;
    height: 180px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 0px;
}

.Trailer iframe{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px
}

.Trailer h3{
    margin-top: 7.5px;
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
}

.Trailer a h3{
    color:#4d1be1;                   
    text-decoration: underline;  
    text-decoration-color: #4d1be1;   
}

.Trailer a h3:hover{
    color:#30167f;                   
    text-decoration: underline;
    font-weight: 800;
    text-decoration-color: #30167f;   
}

.Itch {
    width: 320px;
    height: 180px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 0px;
    position: relative; 
}

.Itch img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 5px; 
}

.Itch .logo-link {
    position: absolute;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: auto;
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: none;   
}

.Itch .logo-link img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: opacity 0.02s ease;
    display: block;
    pointer-events: auto; 
}


.Itch .logo-link .itch-hover {
    opacity: 0;
}


.Itch .logo-link:hover .itch-hover {
    opacity: 1;
}

.Itch .logo-link:hover .itch-normal {
    opacity: 0;
}

.Itch h3 {
    margin-top: 7.5px;
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
}

.Itch a h3 {
    color: #ffbf5c;                   
    text-decoration: underline;  
    text-decoration-color: #ffbf5c;
}

.Itch a h3:hover {
    color:#ff9900;             
    text-decoration: underline;
    font-weight: 800;
    text-decoration-color: #ff9900;
}

.contents {
    margin-left: 12.5%; 
    width:57.5%;
    overflow: visible;
    padding-bottom: 20%; 
}

.contents .fullsample img{
    width: 100%;
    border-radius: 3px;
    height: auto; 
}

.contents .fullsample p{
    font-size: 16px;
    text-align: left;
    padding-top: 5px;
    margin-bottom: 1%;
    font-weight: 400;
    color:white;
}

.contents .fullsample p a{
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    color: #ffbf5c;
}

.contents .fullsample p a:hover{
    font-style: italic;
    text-decoration: underline;
    color: #ff9900;
}

.fullsample em {
  font-style: italic;
  text-decoration: underline;
  font-weight:800;
  transition: 0.2s ease;
  color:#4d1be1;
}

.fullsample em:hover {
  color:#30167f;
}

.contents h2{
    color:white;
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    font-family: "Arcade", serif;
}


@font-face {
    font-family: "Arcade";
    src: url("Infinite/ARCADE.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Digital";
    src: url("Infinite/01-digit.regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.contents p{
    text-align: left;
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 10px;
}

.contents .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px; 
    padding-top: 20px;
}

.contents .logo img {
    max-height: 170px; 
    height: auto;      
    width: auto;        
}

.contents div {
    display: flex;
    flex-direction: column; 
}

.contents .H1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px; 
    padding-bottom: 25px;
}

.contents .H1 img {
    max-height: 120px;
    padding-bottom: 5px; 
    height: auto;      
    width: auto;        
}

.H3 {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.H3 img{
    height: 64px;
    width: auto;
    flex-shrink: 0;
}

.H3 img.Narrator{
    height: 48px;
    width: auto;
    flex-shrink: 0;
    padding: 5px;
}

.H3 h3 {
    color:white;
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    font-family: "Digital", serif;
    letter-spacing: 2.5px;
}

p{
    color:white;
}

h4{
    font-family: "Fredoka", sans-serif;
    font-weight: 600px;
    color: white;
    font-size: 20px;
}

.StateMachineWapper .BirdDescription{
    width: 375px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(21, 54, 6, 0.5);
    padding: 15px;
    margin-left: auto;
    margin-right: 35px; 
    border-radius: 10px;
}

.StateMachineWapper.L2 .BirdDescription{
    background-color: rgba(3, 10, 49, 0.5);
}

.StateMachineWapper.L3 .BirdDescription{
    background-color: rgba(61, 27, 0, 0.5);
}

.StateMachineWapper{
    display: flex !important;
    flex-direction: row !important;
    margin: auto;
    width: 100%;
    height: 240px;
    background-image: url("Infinite/L1Background.png");
    background-size: auto 240px;
    background-position: center;
    border-radius: 3px;
}

.CharacterWapper{
    margin: auto;
    width: 100%;
    height: 300px;
    border-radius: 3px;
    align-items: center !important;
}

.CharacterWapper img{
    height: 300px !important;
    width: auto !important;
}

.StateMachineWapper.L2{
    background-image: url("Infinite/L2Background.png");
}

.StateMachineWapper.L3{
    background-image: url("Infinite/L3Background.png");
}

.StateMachine {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  margin-left: 35px;
  margin-right: auto;
  gap:5px;
}

.Bird img {
  width: 210px !important;
  height: auto;
  display: none;
}

.Bird img:first-child {
  display: block;
}


.button {
  width: 48px !important;
  height: 48px !important;
  cursor: pointer;
  transition: transform 0.1s ease;
  margin:auto;
}

.flipped {
  transform: scaleX(-1);
}

.button:hover {
  transform: scale(1.1);
}

.button.flipped:hover {
  transform: scale(-1.1, 1.1);
}

.button:active {
  transform: scale(0.95);
}

.button.flipped:active {
  transform: scale(-0.95, 0.95);
}

.contents .Map{
    height: 282px;
    width: auto;
    background-image: url(Infinite/L1Background.png);
    background-size: auto 270px;
    overflow-x: auto;
    overflow-y: hidden;
}

.contents .Map img{
    display: block;  
    height: 270px;
    width: 1920px;
}

.contents .Map.L2{
    background-image: url(Infinite/L2Background.png);
}

.contents .Map.L3{
    background-image: url(Infinite/L3Background.png);
}

.Contents .OneThirdSample {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Contents .OneThirdSample img {
  width: 33%;
  height: auto;
  object-fit: cover;
  display: block;
  border: none !important;
  border-radius: 0 !important;
}

.fullsample .HoverImage {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.fullsample .HoverImage img,
.fullsample .HoverImage video {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    transition: opacity 0.5s ease;
}

.fullsample .HoverImage .hover {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.gallerysample {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.gallerysample .HoverImage {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;
}

.gallerysample .HoverImage img,
.gallerysample .HoverImage video {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    transition: opacity 0.25s ease;
}

.gallerysample .HoverImage .hover {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.gallerysample .galleryitem {
    display: none;       
    width: 100%;
    height: auto;
    border-radius: 1.5px;
    box-sizing: border-box;
    overflow: auto;    
    position: relative;
}

.gallerysample .thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 10px;
    width: 100%;
}

.gallerysample .thumbnails .thumb {
    flex: 0 0 calc((100% - 4 * 5px) / 5); 
    cursor: pointer;
    border: 3px solid transparent;
    transition: border 0.3s;
    border-radius: 1.5px;
    box-sizing: border-box;
}

.gallerysample .thumbnails .thumb.active {
    border-color: #30167f;
    position: relative;
}

.gallerysample .thumbnails .thumb.active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#1d0b6070;
    pointer-events: none;
}

.gallerysample .thumbnails .thumb img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.contents .gallerysample p{
    font-size: 16px;
    text-align: left;
    padding-top: 5px;
    margin-bottom: 0px;
    font-weight: 400;
}

.contents .gallerysample p a{
    font-weight:800;
    font-style: italic;
    text-decoration: underline;
    color: #ffbf5c;
}

.contents .gallerysample p a:hover{
    font-style: italic;
    text-decoration: underline;
    color: #ff9900;
}


