* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffc5e5;
}

::-webkit-scrollbar,
.fullsample .Characters::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: #ff92d3; 
}

::-webkit-scrollbar-track,
.fullsample .Characters::-webkit-scrollbar-track {
    background-color: #ff92d3;
    border-radius: 6px;
    box-shadow: inset 0 0 0 3px #ff92d3; 
    background-clip: content-box;
}

::-webkit-scrollbar-thumb,
.fullsample .Characters::-webkit-scrollbar-thumb {
    background-color: #d8006874;
    border-radius: 6px;
    border: 3px solid #ff92d3;
}

html, body {
    height: 100%;
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffc5e5;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding-left: 30px;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar:hover {
    width: 10%;
}

.sidebar h1 {
    font-family: "Fredoka", sans-serif;
    font-size: 44px;
    margin: 0;
    display: block;
    font-weight: 600;
    position: relative;
    color: transparent;
  }
  
.sidebar h1::before {
    content: "A.";
    color: #d80067;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 2px;
    display: block;
  }  
  
.sidebar:hover h1::before {
    content: "Auro.";
  }  

.sidebar .Links {
    list-style: none;
    padding-left: 0px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.links li {
    width:100%;
    font-family: "Fredoka", sans-serif;
    font-size: 16px;
    color: #d80067;
    display: flex;
    white-space: nowrap;
    align-items: center;
    padding: 0;
    margin-left: 0; 
    overflow: hidden;
    font-weight: 400;
}

.links li span{
    font-size: 18px;
}

.links li span.fa-solid.fa-fingerprint
{
    font-size: 22px;
}

.links li span.fa-solid.fa-square-envelope {
    font-size: 22px; 
}

.links li span.fa-brands {
    font-size: 22px; 
}

.links li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.links .Resume {
    margin-top: auto; 
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}

.links .Resume a {   
  width: 90%;         
  text-align: center; 
  color: #ff92d3;
  padding-bottom: 2.5px;
}

.links .Resume:hover {        
    background-color: rgba(255, 255, 255, 0);
}

.links .Resume a:hover {        
    font-weight: 800;
    color:#48ddff;
}

.links .footer {
    margin-top: 0; 
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px; 
}


.links .footer:hover {        
    background-color: rgba(255, 255, 255, 0);
    font-size: 16px;
}

.links .footer span{
    font-size:20px;
    padding: 5px 0px;
}

.links hr {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    border: none; 
    background-color: #d80067; 
    height: 1.5px; 
    display: block; 
    border-radius: 1000px;
}

.links li span {
    color: #d80067;
    padding: 12px 5px;
    flex-shrink: 0;
}

.links li a {
    color: #d80067;
    text-decoration: none;
    align-items: center;
    padding: 0px 0px 0px 5px;
    display: none;
}

.sidebar:hover .Links li {
    width: 120px;
}

.sidebar:hover .Links li a {
    display: block;
}


.sidework {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

.JumpTo {
    width: 320px;
    margin-top: auto; 
    margin-bottom: 25px; 
    text-align: right;
}

.JumpTo h3 {
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color:#d80067;
    text-decoration: underline;
}

.JumpTo h3 a{
    font-weight: 600;
    font-size: 18px;
    color:#ff42b0;
}

.JumpTo h3 a:hover{
    color:#00c7ff;
}

.JumpTo p a{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color:#ff6ac0;
}

.JumpTo p a:hover{
    color:#48ddff;
}

.sidework::-webkit-scrollbar {
    display: none; 
}

.Trailer
{
    width: 320px;
    height: 180px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 0px;
}

.Trailer iframe{
    width: 100%;
    height: 100%;
    border: 3px solid #d80067;
    border-radius: 5px
}

.Trailer h3{
    margin-top: 7.5px;
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
}

.Trailer a h3{
    color: #00c7ff;                   
    text-decoration: underline;  
    text-decoration-color: #00c7ff;   
}

.Trailer a h3:hover{
    color:#ff6ac0;                   
    text-decoration: underline;  
    text-decoration-color: #ff6ac0;   
}

.Itch {
    width: 320px;
    height: 180px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 0px;
    position: relative; 
}

.Itch img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 5px;
}

.Itch img.TheAdventurer{
    border:3px solid #d80067;
}

.Itch .logo-link {
    position: absolute;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: auto;
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: none;   
}

.Itch .logo-link img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: opacity 0.02s ease;
    display: block;
    pointer-events: auto; 
}


.Itch .logo-link .itch-hover {
    opacity: 0;
}


.Itch .logo-link:hover .itch-hover {
    opacity: 1;
}

.Itch .logo-link:hover .itch-normal {
    opacity: 0;
}

.Itch h3 {
    margin-top: 7.5px;
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
}

.Itch a h3 {
    color: #ff42b0;                   
    text-decoration: underline;  
    text-decoration-color: #ff42b0;
}

.Itch a h3:hover {
    color: #48ddff;             
    text-decoration: underline;  
    text-decoration-color: #48ddff;
}

.contents {
    margin-left: 12.5%; 
    width:57.5%;
    overflow: visible;
    padding-bottom: 20%; 
}

.contents .fullsample img,
.contents .fullsample video{
    width: 100%;
    border-radius: 1.5px;
    height: auto; 
    border: 3px solid #d80067;
}

.contents .H1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px; 
    padding-bottom: 25px;
}

.contents .H1 img {
    max-height: 125px;
    padding-bottom: 5px; 
    height: auto;      
    width: auto;        
}

.contents h2{
    color:#d80067;
    font-size: 54px;
    text-align: center;
    font-family: "Tiny5", sans-serif;
    margin-bottom: 10px;
}

.contents .fullsample p{
    font-size: 16px;
    text-align: left;
    padding-top: 5px;
    margin-bottom: 1%;
    font-weight: 400;
}

.contents .fullsample p a{
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    color: #48ddff;
}

.contents .fullsample p a:hover
{
    color:#00c7ff;
}

.contents p{
    text-align: left;
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 10px;
    color:#d80067;
}

.contents .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px; 
    padding-top: 15px;
}

.contents .logo img {
    max-height: 170px; 
    height: auto;      
    width: auto;        
}

.Contents .OneThirdSample {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Contents .OneThirdSample img {
  width: 33%;
  height: auto;
  object-fit: cover;
  display: block;
  border: none !important;
  border-radius: 0 !important;
}

.contents div {
    flex-direction: column; 
}

.gallerysample {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.gallerysample .HoverImage {
    position: relative;
    box-sizing: border-box; 
    cursor: pointer;
    width: 100%;
    border:3px solid #d80067;
}

.gallerysample .HoverImage img,
.gallerysample .HoverImage video {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.gallerysample .HoverImage .hover {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.gallerysample .galleryitem {
    display: none;       
    width: 100%;
    height: auto;
    border-radius: 1.5px;
    box-sizing: border-box;
    overflow: auto;    
    position: relative;
    background-color: #ff92d3;
}

.gallerysample .thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 5px;
    width: 100%;
}

.gallerysample .thumbnails .thumb {
    flex: 0 0 calc((100% - 4 * 5px) / 5); 
    cursor: pointer;
    border: 3px solid #d80067;
    transition: border 0.3s;
    border-radius: 1.5px;
    box-sizing: border-box;
}

.gallerysample .thumbnails .thumb.active {
    border:3px solid #d80067;
    position: relative;
}

.gallerysample .thumbnails .thumb.active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#d800683b;
    pointer-events: none;
}

.gallerysample .thumbnails .thumb img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.contents .gallerysample p{
    font-size: 16px;
    text-align: left;
    padding-top: 5px;
    margin-bottom: 0px;
    font-weight: 400;
}

.contents .gallerysample p a{
    font-weight:800;
    font-style: italic;
    text-decoration: underline;
    color: #00c7ff;
}

.contents .gallerysample p a:hover{
    font-style: italic;
    text-decoration: underline;
    color: #00c7ff;
}

em {
  font-style: italic;
  text-decoration: underline;
  font-weight:800;
  transition: 0.2s ease;
  color: #ff42b0;
}

em:hover {
  color:#ff42b0;
}

.fullsample .HoverImage {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.fullsample .HoverImage img,
.fullsample .HoverImage video {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.fullsample .HoverImage .hover {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.H3 {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    gap: 7.5px;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.H3 img.app{
    height: 40px;
    width: auto;
    flex-shrink: 0;
    border:3px solid #d80067;
    border-radius: 6px;
}

.H3 img.Headshot{
    height: 40px;
    width: auto;
    flex-shrink: 0;
    border:3px solid #d80067;
    border-radius: 50px;
}

.H3 img{
    height: 50px;
    width: auto;
    flex-shrink: 0;
}

.H3 h3 {
    margin: 0;
    white-space: nowrap;
    font-size: 36px;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    color: #d80067;
}