* {
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

html, body {
    height: 100%;
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    padding-left: 30px;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar:hover {
    width: 10%;
}

.sidebar h1 {
    font-family: "Fredoka", sans-serif;
    font-size: 40px;
    margin: 0;
    display: block;
    font-weight: 600;
    position: relative;
    color: transparent;
  }
  
  .sidebar h1::before {
    content: "A.";
    color: #05269c;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 2px;
    display: block;
  }  
  
  .sidebar:hover h1::before {
    content: "Auro.";
  }  

.sidebar .Links {
    list-style: none;
    padding-left: 0px; 
    margin-left: 0;
}

.Links li {
    width:100%;
    font-family: "Fredoka", sans-serif;
    font-size: 16px;
    color: #05269c;
    display: flex;
    white-space: nowrap;
    align-items: center;
    padding: 0;
    margin-left: 0; 
    overflow: hidden;
    font-weight: 400;
}

.Links li span{
    font-size: 18px;
}

.Links li span.fa-solid.fa-fingerprint
{
    font-size: 22px;
}

.Links li span.fa-solid.fa-square-envelope {
    font-size: 22px; 
}

.Links li span.fa-brands {
    font-size: 22px; 
}

.Links li:hover {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
}

.Links .footer {         
    padding-top: 240px; 
    color: #05269c;
    font-size: 16px;
    font-weight: 600;
}

.Links .footer:hover {        
    background-color: rgba(255, 255, 255, 0);
    font-size: 16px;
}

.Links .footer span{
    font-size:20px;
    padding: 5px 0px;
}

.Links hr {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    border: none; 
    background-color: #05269c; 
    height: 1.5px; 
    display: block; 
    border-radius: 1000px;
}

.Links li span {
    color: #05269c;
    padding: 12px 5px;
    flex-shrink: 0;
}

.Links li a {
    color: #05269c;
    text-decoration: none;
    align-items: center;
    padding: 0px 0px 0px 5px;
    display: none;
}

.sidebar:hover .Links li {
    width: 120px;
}

.sidebar:hover .Links li a {
    display: block;
}


.Contents {
    margin-left: 14%; 
    width:86%;
    padding-top: 0.5%;
    padding-bottom:10%;
}

.Contents h1 {
    color:rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
    pointer-events: none;
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Contents p{
    width:900px;
    margin:auto;
    text-align: left;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom:10px;
    font-size: 16px;
}

.Contents p em {
    font-style: italic;
    font-weight:bold;
  }

.Contents .caption{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    width:750px;
    font-size: 16px;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.Contents a .caption {
    text-decoration: underline;
    color: black;
}

.Contents a:active .caption {
    color: gray;
  }

.Contents .caption2{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    width:375px;
    font-size: 16px;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.C19EColumn{
    margin:auto;
    height:450px;
    width: 800px;
    margin-bottom:10px;
    margin-top:20px;
    background-color:white;
}

.C19EColumn:hover {
    background-color: white; 
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.DaylightColumn{
    margin:auto;
    height:450px;
    width: 800px;
    justify-content: center;
    margin-bottom:10px;
    margin-top:20px;
    background-color:white;
}

.DaylightColumn:hover {
    background-color: white; 
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.InfiniteColumn
{
    margin:auto;
    height:450px;
    width: 800px;
    justify-content: center;
    margin-bottom:10px;
    margin-top:20px;
    background-color:white;
}

.Comics{
    margin:auto;
    height:450px;
    width: 800px;
    margin-bottom:10px;
    margin-top:20px;
    background-color:white;
}

.ComicsLink {
    text-decoration: none; 
    color: inherit; 
}

.ComicsColumn {
    display: flex;
    flex-direction: column; 
    margin:auto;
    gap:10px;
}

.Comics:hover {
    background-color: white; 
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ComicsColumn h1 {
    text-align: left; 
    font-size: 36px; 
    font-weight: bold; 
    width:70%;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.ComicsColumn p {
    width:70%;
    margin:auto;
    line-height: 1.5; 
    font-size: 12px; 
    font-family: Arial, Helvetica, sans-serif;
}

.C19E{
    height:4280px;
    width:100%;
    margin:auto;
    justify-content: center;
    flex-direction: column;
}

.HerChoice{
    height:4280px;
    width:100%;
    margin:auto;
    justify-content: center;
    flex-direction: column;
}

.Contents div {
    display: flex;
}